$max-rgb                          : 255;
$max-linear                       : 1;
$min-linear                       : 0;
$gamma-compressed                 : 0.0031308;
$gamma-expanded                   : 0.04045;
$gamma-srgb                       : 2.4;
$gamma-srgb-alt                   : (563 / $max-rgb);
$gamma-prophoto                   : 1.8;
$standard-phi                     : 12.9232102;
$linear-srgb-red                  : 0.2126729;
$linear-srgb-green                : 0.7151522;
$linear-srgb-blue                 : 0.0721750;
$linear-p3-red                    : 0.2289745640697488;
$linear-p3-green                  : 0.6917385218365064;
$linear-p3-blue                   : 0.079286914093745;
$alpha-min                        : 0.055;
$alpha-max                        : ($alpha-min + $max-linear);
$profile                          : 'srgb'; // srgb, p3
$profile-srgb                     : ($profile == 'srgb');
$linear-red                       : if($profile-srgb, $linear-srgb-red, $linear-p3-red);
$linear-green                     : if($profile-srgb, $linear-srgb-green, $linear-p3-green);
$linear-blue                      : if($profile-srgb, $linear-srgb-blue, $linear-p3-blue);
$min-accessibility                : 1;
$max-accessibility                : 21;
$lightest-color                   : hsl(0, 0%, 100%);
$darkest-color                    : hsl(0, 0%, 0%);
$tone-bridge                      : $linear-red;
