@use 'sass:math';

// local function
@function dec($x, $y: 3) {
  $e: math.pow(10, $y);
  $output: (math.ceil($x * $e) / $e);

  @return $output;
}


// *_*
$separator-line      : '~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~';

// Magic numbers
$magic-1             : 20;
$magic-2             : 3;

// Maximum and Minimum
$max-rgb             : 255;
$min-rgb             : 0;
$max-linear          : ($max-rgb / $max-rgb);
$min-linear          : $min-rgb;
$max-alpha           : 1.055;
$min-alpha           : ($max-alpha - $max-linear);
$max-a11y            : ($magic-1 + $max-linear);
$min-a11y            : ($max-a11y - $magic-1);

// More Values
$standard-phi        : 12.9232102;

// About Gamma
$gamma-compressed    : 0.0031308;
$gamma-expanded      : 0.04045;
$linear-gamma        : (563 / $max-rgb);

// About sRGB
$linear-srgb-x-red   : 0.4124564;
$linear-srgb-x-green : 0.3575761;
$linear-srgb-x-blue  : 0.1804375;
$linear-srgb-y-red   : 0.2126729;
$linear-srgb-y-green : 0.7151522;
$linear-srgb-y-blue  : 0.0721750;
$linear-srgb-z-red   : 0.0193339;
$linear-srgb-z-green : 0.1191920;
$linear-srgb-z-blue  : 0.9503041;

// About p3
$linear-x-p3-r       : 2.493496911941425;
$linear-y-p3-r       : -0.9313836179191239;
$linear-z-p3-r       : -0.40271078445071684;
$linear-x-p3-g       : -0.8294889695615747;
$linear-y-p3-g       : 1.7626640603183463;
$linear-z-p3-g       : 0.023624685841943577;
$linear-x-p3-b       : 0.03584583024378447;
$linear-y-p3-b       : -0.07617238926804182;
$linear-z-p3-b       : 0.9568845240076872;

// About color
$tone-bridge         : $linear-srgb-y-red;
$color-light         : hsl(0, 0%, 100%);
$color-dark          : hsl(0, 0%, 0%);
$color-demo          : hsl(16, 82%, 52%);
