@use 'sass:math';

// simple function to round any < float > value to specific decimal places
@function dec($value, $decimal-places: 3) {
  $e: math.pow(10, $decimal-places);
  $x: (math.round($value * $e) / $e);
  @return $x;
}


$max-rgb                          : 255;
$max-linear                       : dec($max-rgb / $max-rgb);
$min-linear                       : dec($max-linear - $max-linear);

$linear-srgb-red                  : dec(0.2126729);
$linear-srgb-green                : dec(0.7151522);
$linear-srgb-blue                 : dec(0.0721750);
$linear-p3-red                    : dec(0.2289745640697488);
$linear-p3-green                  : dec(0.6917385218365064);
$linear-p3-blue                   : dec(0.079286914093745);

$standard-phi                     : dec(12.9232102);

$gamma-compressed                 : dec(0.0031308);
$gamma-expanded                   : dec(0.0404482);
$gamma-srgb                       : dec(2.4);
$gamma-srgb-alt                   : dec(563 / $max-rgb);

$max-alpha                        : dec(1.055);
$min-alpha                        : dec($max-alpha - $max-linear);

$linear-profile                   : 'srgb';
$gamma-profile                    : 'default';

$linear-gamma                     : if($gamma-profile == 'default', $gamma-srgb, $gamma-srgb-alt);
$linear-red                       : if($linear-profile == 'srgb', $linear-srgb-red, $linear-p3-red);
$linear-green                     : if($linear-profile == 'srgb', $linear-srgb-green, $linear-p3-green);
$linear-blue                      : if($linear-profile == 'srgb', $linear-srgb-blue, $linear-p3-blue);

$max-accessibility                : 21;
$min-accessibility                : $max-linear;

$tone-bridge                      : $linear-red;

$lightest-color                   : #ffffff;
$darkest-color                    : #000000;
$demo-color                       : #0c322c;
