$typeface-system: -apple-system, BlinkMacSystemFont, X-LocaleSpecific, system-ui, sans-serif;
$typeface-global: 'San Francisco', 'Helvetica Neue', 'Lucida Grande', 'Segoe UI', 'Tahoma', 'Microsoft Sans Serif', 'Roboto', 'Droid Sans', 'Ubuntu', 'Cantarell', 'Oxygen-Sans';
$typeface-symbols: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'eos-icons', 'Material Icons';
$typeface-fallback: $typeface-global, $typeface-system, $typeface-symbols;

$typeface-sans: $typeface-fallback;
$typeface-serif: 'New York', 'Times New Roman', 'Roboto Slab', 'DejaVu Serif', serif, $typeface-sans;
$typeface-monospace: 'SF Mono', 'Monaco', 'Menlo', 'Courier New', 'Roboto Mono', 'Ubuntu Mono', 'Hack', 'DejaVu Sans Mono', monospace, $typeface-serif;
